# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.env
venv/
.venv/

# IDE
.vscode/
.vs/
.idea/

# OS generated
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Packaging
*.unitypackage
